
.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.cart-items {
    max-width: 600px; /* Adjust the max width of the cart items container */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex; /* Change display to flex */
    flex-direction: column; /* Change flex direction to column */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    max-width: 100px; /* Adjust max-width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

.cart-item:last-child {
    color:#888
    

.cart-item span {
    display: block;
    font-size: 16px;
}

.cart-item span:first-child {
    font-weight: bold;
}

.cart-item span:last-child {
    color: #888;
}
/* Add styling for the cart summary */
.cart-summary {
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-summary > div {
    margin-bottom: 10px;
}

.cart-summary > div > span {
    display: inline-block;
    width: 100px;
    font-size: 16px;
}

.checkout-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #0056b3;
}
