/* checkout-styles.css */

.place-order-btn {
    background-color: #149CEA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.place-order-btn:hover {
    background-color: #0e80b7;
}
