/* Header Styles */
.header {
  background-color: #333;
  padding: 10px 20px; /* Add more padding to make the header taller */
  display: flex;
  align-items: center; /* Ensure vertical alignment of items */
  justify-content: space-between;
  height: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  max-width: 150px;
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

/* Centered text in the header */
.center-text {
  flex: 1;
  text-align: center;
  color: #149CEA;
}

/* Button Styles */
.header button {
  width: 10em;
  height: 3.5em;
  border: 3px ridge #149CEA;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.header button::after,
.header button::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
}

.header button::after {
  top: -10px;
  left: 3%;
  transform-origin: center;
}

.header button::before {
  top: 80%;
  left: 3%;
  transform-origin: center;
}

.header button:hover::before,
.header button:hover::after {
  transform: scale(0);
}

.header button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
  color: white;
}

/* Cart Count */
.cart-count {
  color: red;
  font-size: 14px;
  position: absolute;
  top: -22px;
  right: 65px;
  background-color: white;
  border: 1px solid red;
  padding: 3px 6px;
  border-radius: 50%;
  visibility: hidden;
  z-index: 100;
}

/* Logout Button */
#logoutButton {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: 3px ridge #149CEA;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-left: 20px;
}

/* Mobile Styles for Header */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative; 
  }

  .cart-count {
  right: 0; /* Adjust position relative to button */
  top: 39%; /* Center vertically relative to button */
  transform: translateY(50%); /* Center vertically */
  visibility: visible; /* Make sure it’s visible on mobile view */
  }
}

@media (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .logo-container {
    padding-bottom: 5px;
  }

  .button-container {
    gap: 5px;
  }
  .cart-count {
    right: -25px;
  }
}
.text-container {
  -webkit-hyphens: auto !important;
  hyphens: auto !important;
  word-wrap: break-word !important;
  overflow-wrap: anywhere !important;
}