/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for body and HTML */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-image: url('../Images/background.jpg'); /* Adjust path relative to your CSS file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Styles for the main container */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center;
    padding: 20px;
}

/* Styles for the login form */
#loginForm {
    width: 100%; /* Make the form full-width */
    max-width: 400px; /* Set maximum width for the form */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
    margin-bottom: 20px; /* Add bottom margin to separate from "Don't have an account?" link */
}

#loginForm label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#loginForm input {
    width: calc(100% - 12px); /* Adjust width to accommodate padding */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#loginForm button {
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 15px; /* Add bottom margin to separate from "Don't have an account?" link */
}

#loginForm button:hover {
    background-color: #555;
}
.signup-link {
    margin-top: 10px; /* Adjust top margin for spacing */
}

.signup-link .center-text {
    text-align: center;
}

.signup-link .center-text a {
    color: #faf8f8;
    text-decoration: none;
}

.signup-link .center-text a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    flex-shrink: 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .index-main {
        width: 90%;
        padding: 15px;
        margin-top: 0; /* Consider removing top positioning if it causes issues */
        top: 0; /* Reset top positioning for mobile view */
    }
    
    footer {
        padding: 15px; /* Increase padding for better touch experience */
    }
}

@media (max-width: 480px) {
    .index-main {
        width: 95%;
        padding: 10px;
    }

    footer {
        padding: 20px; /* Increase padding for smaller screens */
    }
}

/* Ensure text hyphenation and proper wrapping */
.text-container {
    -webkit-hyphens: auto !important;
    hyphens: auto !important;
    word-wrap: break-word !important;
    overflow-wrap: anywhere !important;
}