/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for body and HTML */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-image: url('../Images/background.jpg'); /* Adjust path relative to your CSS file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-container {
    display: flex;
    gap: 10px;
}

.common-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.common-button:hover {
    background-color: #777;
}

.center-text {
    text-align: center;
}

.center-text h1 {
    font-size: 28px; /* Adjust font size for the heading */
}

/* Main container styles */
.cart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cart-items {
    width: 100%;
    max-width: 700px; /* Adjust max-width as needed */
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust vertical spacing between details */
}

.cart-item-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-item-price {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.remove-from-cart-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.cart-summary {
    width: 100%;
    max-width: 300px; /* Adjust max-width as needed */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.cart-summary div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-summary button.checkout-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}


/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
