/* reset.css */
html, body, header, nav, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* header-styles.css */
body {
  font-family: Arial, sans-serif; /* Example font family */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 30px;
}

.logo-container {
  width: 200px;
  padding: 20px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.center-text {
  text-align: center;
  color: #149CEA;
  animation: slideIn 1s ease-in-out forwards;
}

.button-container {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: flex-start;
}

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white; /* Ensure text color is explicitly set */
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #333;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #333;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
  color: white; /* Ensure text color remains white on hover */
}



.cart-count {
  color: red;
  font-size: 14px;
  position: absolute;
  top: 25px; /* Adjust top position to align it closer to the button */
  right: 100px; /* Adjust right position to align it closer to the button */
  background-color: white;
  border: 1px solid red;
  padding: 3px 6px;
  border-radius: 50%;
  visibility: hidden; /* Hide initially */
}

